<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% if defined?(@user.microposts.first.content) %> <!-- Verificando a existencia de um Micropost do user -->
  <p>
    <strong>First Micropost:</strong>
    <%= @user.microposts.first.content %> <!-- exibindo o primeiro micropost -->
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
